[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-play-scraper = "*"
pandas = "*"
tqdm = "*"
seaborn = "*"
pigments = "*"
typer = "*"
dvc = "*"
transformers = "*"
torch = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3"
